# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Models
models/

# Logs
logs/

# TensorBoard
runs/

# Plots
plots/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# PyTorch
*.pth

# Build files
build/
dist/
*.